div#cabecalho, #rodape {
    background: #171019;
}

.h-user:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/user.svg) center no-repeat;
    z-index: 100;
    display: block;
}

.h-search:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/search.svg) center no-repeat;
    z-index: 100;
    display: block;
}

#cabecalho .icon-shopping-cart::before {
	background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/cart.svg) center no-repeat;
}

.h-menu:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/menu.svg) center no-repeat;
    z-index: 100;
    display: block;
}

#rodape .institucional .row-fluid .titulo {
    color: #fff;
}

.links-rodape ul li a {
    color: #fff;
}

#rodape .titulo {
    color: #fff;
}

.chev:before {
    content: "";
    background: url(https://cdn.awsli.com.br/2950/2950869/arquivos/chevron_fdown.svg);
		width: 24px;
    height: 24px;
    z-index: 100;
    display: block;
    position: absolute;
}

.h-menu img, .h-search img, .h-user img {
    display: none;
}

.atendimento-rodape ul * {
    font-size: 16px;
    color: #fff;
}

.lista-redes i, button.whatsapp-btn, button.whatsapp-btn * {
    color: #fff!important;
}

.atendimento-rodape ul li img {
    display: none;
}

.icon-instagram::before {
    background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/instagram.svg) center no-repeat;
}

@media screen and (min-width: 768px) {

.menu.superior .nivel-um li strong {
    color: #fff;
}

a.h-user span {
    color: #fff;
}

}