/* Cores e ajustes que já estavam inseridos no painel da loja. */

      
.produto .acoes-produto .preco-produto .preco-promocional.titulo {
    color: #41975e!important;
}

.listagem-item .preco-parcela strong, .listagem-item .desconto-a-vista strong {
    font-weight: bold!important;
    color: #41975e!important;
}

.vitrine-destaque-produtos .preco-produto > div strong.titulo {
    margin: 1px 0 3px;
    color: #41975e !important;
    font-size: 23px;
    font-weight: 800;
    line-height: 1;
}

.bandeiras-produto .bandeira-promocao {
    background-color: #5bd985!important;
    color: var(--black) !important;
}

.bandeiras-produto span {
    font-size: 12px;
    font-weight: 800 !important;
}


.menu.superior .nivel-um li strong:after {
    height: 2px!important;
    background: var(--brand-color)!important;
}

#rodape .pagamento-selos {
    padding: 32px;
    max-width: auto!important;
    background: white!important;
}

.tema-cabecalho-dark .carrinho .carrinho-interno {
    background: var(--fundo-cabecalho)!important;
}

.carrinho-interno .nome-produto {
    color: black !important;
}


.botao-comprar-whatsapp {

    background: var(--whatsapp-color)!important;
    border: 1px solid var(--whatsapp-color);
    color: var(--white) !important;

}


.pagina-categoria .conteudo .btn-filtrar {
    border: 1px solid var(--black);
    color: var(--black) !important;
}

.atributos ul li a * {
    color: var(--black);
    font-weight: bold!important;
    font-size: 16px !important;
}

.banner-categoria-conteudo {
    background: #07095b!important;
}

.banner-categoria-botao {
    background: var(--brand-color)!important;
    color: var(--white) !important;
}
    


  /* ======================================================
      CORES DA LOJA
  ====================================================== */
  
  :root {

  /* CABEÇALHO */
   --fundo-cabecalho: #07095d!important;
   --texto-cabecalho: #f9f9f9!important;

   /* RODAPÉ */
   --fundo-rodape: #0d0359!important;
   --texto-rodape: #f9f9f9!important;

    --bg-color: #1E1E1E!important;
    --bg-store-color: #1e1e1e!important;
    --text-color: #FFFFFF!important;
    --brand-color: #3d64f6 !important;
    --black: #1E1E1E!important;
    --pure-black: #000000!important;
    --white: #FFFFFF!important;
    --grey: #4C4C4C!important;

    --surface-dark: #303030!important;
    --surface-video: #222222!important;
    --surface-soft: #f3f7ff!important;
    --surface-muted: #f3f7ff!important;
    --surface-highlight: #f3f7ff!important;
    --surface-hover: #F5F5F5!important;
    --surface-subtle: #F7F7F7!important;
    --surface-light: #F9F9F9!important;

    --text-soft: #607081!important;
    --text-low: #555555!important;
    --text-medium: #666666!important;
    --text-tertiary: #676767!important;
    --text-secondary: #737373!important;
    --text-subtle: #777777!important;
    --text-muted: #999999!important;

    --border-subtle: #DFDFDF!important;
    --border-light: #E7E7E7!important;
    --border-soft: #EDEDED!important;

    --whatsapp-color: #25D366!important;
    --error-color: #FF9292!important;
    --star-color: #FFB52E!important;

    --black-alpha-0: rgba(0, 0, 0, 0)!important;
    --black-alpha-035: rgba(0, 0, 0, .035)!important;
    --black-alpha-05: rgba(0, 0, 0, .05)!important;
    --black-alpha-09: rgba(0, 0, 0, .09)!important;
    --black-alpha-10: rgba(0, 0, 0, .1)!important;
    --black-alpha-18: rgba(0, 0, 0, .18)!important;
    --black-alpha-20: rgba(0, 0, 0, .2)!important;
    --black-alpha-24: rgba(0, 0, 0, .24)!important;
    --black-alpha-40: rgba(0, 0, 0, .4)!important;
    --black-alpha-50: rgba(0, 0, 0, .5)!important;
    --black-alpha-55: rgba(0, 0, 0, .55)!important;
    --black-alpha-56: rgba(0, 0, 0, .56)!important;
    --black-alpha-60: rgba(0, 0, 0, .6)!important;
    --black-alpha-62: rgba(0, 0, 0, .62)!important;
    --black-alpha-82: rgba(0, 0, 0, .82)!important;
    --black-alpha-84: rgba(0, 0, 0, .84)!important;
    --black-alpha-94: rgba(0, 0, 0, .94)!important;

    --white-alpha-05: rgba(255, 255, 255, .05)!important;
    --white-alpha-10: rgba(255, 255, 255, .1)!important;
    --white-alpha-20: rgba(255, 255, 255, .2)!important;
    --white-alpha-45: rgba(255, 255, 255, .45)!important;
    --white-alpha-70: rgba(255, 255, 255, .7)!important;
    --white-alpha-86: rgba(255, 255, 255, .86)!important;
  }
  
  /* ======================================================
      NOMES DAS TAGS BASEADO NO ID DAS CATEGORIAS
  ====================================================== */
  
  .listagem-item.prod-cat-20351947 .imagem-produto:after {
    content: "PlayStation 4" ;
  }
  
  .listagem-item.prod-cat-20352581 .imagem-produto:after {
    content: "PlayStation 5" ;
  }

  .listagem-item .imagem-produto:after {
      display: none!important;
  }
      
  